* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
background-image: url(../images/Rectangle\ 7.png);
width: 1440px;
background-repeat: no-repeat;
height: 904px;
flex-shrink: 0;
fill: #1875FF;
}
.header{
  display: flex;
  align-items:center;
  gap: 30px;
  margin-left: 20px;
}
.header h1 {
  color: #fff;
  font-family: "DM Sans";
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 49px;
  margin-left: 100px;
  text-decoration: none;
}
.header a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  display: flex;
  gap: 50px;
  margin-top: 52px;
  margin-left: 110px;
}
.uls{
  display: flex;
  align-items:center
}
.uls ul li {
  color: #fff;
  font-family: "DM Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
}
.first button {
  display: flex;
  padding: 15px 25px;
  align-items: flex-start;
  border-radius: 20px;
  background: #fff;
  color: #1875ff;
  border: none;
  cursor: pointer;
  margin-left: 41px;
  transition: all 1.0s;
}
.first button:hover{
  background-color:blue;
  color:white;
  transform: scale(1.3);
}
.buttons{
  display:flex;
  gap: 200px;
  margin-top: 47px;
}
.three button{
  display: inline-flex;
  padding: 15px 30px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 20px;
  background: #FFF;
  color:blue;
  border:none;
  cursor: pointer;
  margin-left: 100px;
  margin-top: -2px;
  transition: all 1s;
}
.three button:hover{
  background-color:blue;
  color:white;
  transform: scale(1.3);
}
.images{
  width: 467px;
  height: 812.227px;
  flex-shrink: 0;
  margin-top: 111px;
  margin-left: 801px;
}
.bg img{
  width: 467px;
height: 812.227px;
flex-shrink: 0;
color: black;
margin-top:-760px ;
margin-left: -60px;
}
.text-all{
  margin-top: -691px;
  margin-left: 96px;
}
.one-text p{
  width: 575px;
height: 160px;
flex-shrink: 0;
color: #FFF;
font-family: "DM Sans";
font-size: 64px;
font-style: normal;
font-weight: 500;
line-height: normal;
transition: all 0.5s;
cursor: pointer;
}
.one-text p:hover{
  color:rgb(245, 238, 238);
}
.thre-text h3{
  color: #FFF;
font-family: "DM Sans";
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 27px;
cursor: pointer;
transition: all 0.5s;
}
.thre-text h3:hover{
  color:rgb(245, 205, 205);
}
.buton button{
  display: inline-flex;
padding: 15px 25px;
align-items: flex-start;
gap: 10px;
border-radius: 20px;
background: #FFF;
color: #1875FF;
font-family: "DM Sans";
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
border:none;
cursor: pointer;
transition: all 1s;
margin-top: 50px;
}
.buton button:hover{
  background-color:blue;
  color:white;
  transform: scale(1.3);
}